@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* gere la section dans sa globalité ici */

.section1 {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}
/* Couleur du background du site entiers */

body { 
	background-color: #060647;
}

/* toute la gestion de la nav barre ici */



nav a {
  color: rgb(151, 151, 151);        
  text-decoration: none;
}

/* Bibliothéque CSS ajouter pour styliser la nav barre */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;   /* logo en haut, liens dessous */
  align-items: center;       /* tout centré horizontalement */
  gap: 12px;
  padding: 18px;
  box-sizing: border-box;
}

.nav-logo {
  font-family: Playfair Display;
  color: #ffb000;
  letter-spacing: 0.18em;
  font-size: 38px;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: #c7c7cf;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  transition: color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links a:hover {
  color: #ffb000;   /* ambre au survol */
}

/* Partie video et overlay pour la page d'accueil*/
.section1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.section1-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    black 0%,
    transparent 25%,
    transparent 75%,
    black 100%
  );
}

/* Hover Effect pour le titre et le sous titre*/

.hero-content 
 {
  position: absolute;
  text-align: center;
   z-index: 3;
  top: 30 px;                         
  left: 50%;                       
  transform: translateX(-50%);    
  color: white;
  font-family: Raleway;
}

/* On fait en sorte que chaque élément contienne sa marge interne avec box-sizing et on retire les traits qui sont par défaut sur les liens */
* {
  box-sizing: border-box;
  text-decoration: none;
}


